/* * {
  margin: 10px 20px;
} */
img {
  display: block;
  width: 100%;
  height: auto;
}
.link {
  font-size: 30px;
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}
/* Завдання 1 */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.box {
  height: 190px;
  width: calc(50% - 20px);
  margin: 10px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.box:first-child {
  background-color: blueviolet;
  background-image: url(../img/bird.webp);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}
.box:nth-child(2) {
  background-color: #30775c;
  background-image: url(../img/cat.webp);
  background-position: bottom;
  background-repeat: repeat-x;
}
.box:nth-child(3) {
  background-color: skyblue;
  background-image: url(../img/dog.webp);
  background-position: left;
  background-repeat: repeat-y;
}
.box:nth-child(4) {
  background-color: rgb(52, 52, 255);
  background-image: url(../img/turtle.webp);
}
/* Завдання 2 */
.overlay {
  max-width: 1600px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(
      to right,
      rgba(199, 1, 1, 0.2),
      rgba(10, 173, 45, 0.3)
    ),
    url(../img/fish.jpeg);
  background-position: center;
  background-size: cover;
}
/* Завдання 3 */
.exx {
  font-size: 30px;
  color: black;
  margin: 50px;
  font-family: "Courier New", Courier, monospace;
}
/* 1 */
.button {
  display: inline-flex;
  align-items: center;
  padding: 20px 30px;
  background-color: teal;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: 14px;
  gap: 5px;
}
.button::before {
  content: "";
  background-image: url(../img/car.webp);
  background-color: #38fae0;
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
}
/* 2 */
.tasks-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tasks-list li {
  display: flex;
  align-items: center;
}

.tasks-list li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(../img/li.svg);
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}
/* 3 */
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 500px;
  margin-inline: auto;
}
.nav-link {
  font-family: "Courier New", Courier, monospace;
  font-size: 2em;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff5d5d;
  opacity: 0;
}
.nav-link:hover::after {
  opacity: 1;
}
/* 4 */
.list {
  display: flex;
  padding: 0;
  list-style: none;
}
.list-item {
  max-width: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.list-item:first-child:before {
  content: "";
  display: block;
  background-image: url(../img/car.webp);
  width: 80px;
  height: 80px;
  background-size: cover;
  margin: auto;
}
.list-item:nth-child(2)::before {
  content: "";
  display: block;
  background-image: url(../img/dog.webp);
  width: 80px;
  height: 80px;
  background-size: cover;
  margin: auto;
}
.list-item:nth-child(3)::before {
  content: "";
  display: block;
  background-image: url(../img/cat.webp);
  width: 80px;
  height: 80px;
  background-size: cover;
  margin: auto;
}
/* 5 */
.img_container {
  width: 400px;
  position: relative;
  margin-bottom: 60px;
}
.img_container img {
  width: 100%;
}
/* img-1 */
.img_container_1::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    to left bottom,
    rgba(0, 217, 0, 0.3),
    rgba(0, 0, 0, 0.3) 60%
  );
  top: 10px;
  left: 29px;
}
/* img-2 */
.img_container_2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(
    to right bottom,
    rgba(217, 90, 0, 0.545),
    rgba(249, 225, 15, 0.524)
  );
  top: 10px;
  left: 10px;
}
/* Завдання 4 */
/* 1 */
.section-1 {
  min-height: 500px;
  background-image: url(../img/abstract-blue-flowing-lines-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-list {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-item {
  max-width: 280px;
}

.offer-card {
  margin: 50% 0;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}
.offer-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.45);
}

.offer-card-top {
  background-color: #4a90e1;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Courier New", sans-serif;
  width: 100%;
}

.time-span {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}

.offer-card-meta {
  padding: 40px 20px 10px;
  font-size: 14px;
  color: #444;
  font-family: "Courier New", sans-serif;
}

.add-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.add-info:nth-child(-n + 2)::after {
  content: "";
  height: 1px;
  width: 30%;
  background-color: rgb(214, 214, 214);
  display: block;
}
.offer-card-button {
  background-color: #4a90e1;
  border: none;
  color: #fff;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin: 40px auto 30px;
  display: block;
}
.offer-card-button:hover {
  box-shadow: 0 8px 20px rgba(74, 144, 225, 0.5);
  background-color: rgba(74, 144, 225, 0.25);
  color: #4a90e1;
}
/* 2
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  color: #4a90e1;
  font-size: 36px;
  font-weight: 700;
  font-family: "Courier New", sans-serif;
  margin: 5px 0;
}
.subtitle {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  font-family: "Courier New", sans-serif;
  margin: 5px 0;
}
.offers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 820px;
  max-height: auto;
}

.offers-items {
  list-style: none;
}
.offer {
  max-width: 400px;
  max-height: 100px;
} */
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #4a90e1;
  font-size: 36px;
  font-weight: 700;
  font-family: "Courier New", sans-serif;
  margin: 5px 0;
}

.subtitle {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  font-family: "Courier New", sans-serif;
  margin: 5px 0;
}

.offers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  justify-content: center;
  padding: 20px;
}

.offers-items {
  list-style: none;
}

.offer {
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
}
.offer:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.offer-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.offer-meta {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-title {
  font-size: 16px;
  font-weight: 700;
  color: #666;
  font-family: "Courier New", sans-serif;
  margin-bottom: 8px;
}

.offer-text {
  font-size: 12px;
  color: #444;
  font-family: "Courier New", sans-serif;
  margin-bottom: 10px;
}

.offer-tex-2 {
  font-size: 12px;
  color: #444;
}
/* 400 */
